publish_mode: simple

collections:
  - name: "posts"
    label: "Posts"
    folder: "_posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "제목", name: "title", widget: "string" }
      - {
          label: "URL (한 번만 작성)",
          name: "slug",
          widget: "string",
          required: true,
          hint: "영문/한글 가능, 한 번 정하면 절대 수정하지 마세요"
        }
      - { label: "내용", name: "body", widget: "markdown" }

